.section1{
  background-color: #ffffff;
  margin-top: 8vh;
}
.section1 > div:nth-child(2) {
  padding: 5vh;
}
@media screen and (min-width: 768px) {
  .section1{
    display:flex;
    height:50vh;
    align-items: center;
  }
  .section1 > div:first-child {
    flex: 1.5;
  }
  .section1 > div {
    flex: 1;
  }
  .section1 > div:nth-child(1) {
    padding-left: 10vh;
  }
}

.section1 h1{
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3.5rem;
}

.section1 h1 em{
  font-style:normal;
  font-size: 4.2rem;
  color:#78b743;
}


.section1 img{
  width: 100%;
  height: auto;
  margin-top: 0vh;
  position:relative;
}

.section2{
  background: url('../../images/visuel_framboise3_slider.png') no-repeat center;
  background-size: cover;
}
.section2 > div {
  padding: 10vh 5vh;
}
@media screen and (min-width: 768px) {
  .section2 > div {
    padding: 25vh 15vh;
  }
}

.section2 h2{
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1em;
  margin-bottom: 2.5vh;
}

.section2 em{
  font-style: normal;
  font-size:4.2rem;
  color:#cb0b5c;
}
.section2 p{
  font-size:1.2rem;
  line-height: 1.2em;
}

.section3{
  height:700px;
  background: url('../../images/swiss_mountains.png') no-repeat center;
  background-size: cover;
  padding-top:15vh;
}
.section3 p em{
  font-style: normal;
  font-weight: 700;
  font-size:1.3rem;
}
.icon h3{
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
}
.icon img{
  display:block;
  margin:auto;
}

.section3 p{
  font-weight:400;
  font-size:1.2rem;
  color:black;
  text-align: center;
  padding-bottom: 8vh;
}
.scroll{
  position:fixed;
  bottom:0;
  left:50%;
  padding:0 10vh;
  width: 50%;
  margin-left: -25%;
  }

.scroll img{
  height:auto;
  width:30px;
  height: auto;
  margin: 0 auto;
}

/* ****************************** section home****************************** */
.section {
  padding: 10vh 15vw;
}

.section.intro {
  background: no-repeat center;
}

.section.cans{
  background-color: #dfdddc;
}

/* ****************************** texts ****************************** */

.title-1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
font-size: 3.25rem;
line-height: 1em;
margin-bottom: 5vh;
}
.title-1 em{
  font-size: 4.5rem;
  color:#78b743;
  font-family: 'Quicksand', cursive;
  font-weight: 700;
  font-size: 7rem;
  opacity: 0.4;
  font-style:normal;
}
.title-2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 1.5rem;
}

p:not:(:last-child) {
  margin-bottom:5vh;
}

p em {
  font-weight: 700;
  font-style: normal;
  font-size:1.1rem;
}

.section.cans h4{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  padding-bottom: 5vh;
}

.section.cans p em{
  font-size:2.5rem;
  font-weight: 700;
  color:#cb0b5c;
  padding:0.5vh;
}

.cans img{
display: block;
margin: auto;
padding: 0vh 0vw 5vh;
}

details {
    border: 3px solid #000;
    border-radius: 4px;
    padding: .5em .5em 0;
    text-align:center;

}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
}
summary:focus {
    outline:none;
}
details[open] {
    padding: .5em;

}

details[open] summary {
    margin-bottom: .5em;
}

details summary p{
  font-family: 'Quicksand', cursive ;
  text-align: center;
}

.section.wall{
  background-color: #faf7f7;
}
.section.wall {
  background: no-repeat center;
}
.section.info p{
margin-top:0;
}
.section.contact{
  background: url('../../../images/contact.png') no-repeat center;
  background-size: cover;
  padding: 20vh 5vh;
}
.info-contact{
  color:white;
  text-align: center;
}

.section.about{
  padding:19vh;
  background: no-repeat center;
  text-align:center;
}
.section.about a{
  color:black;
}

/* ****************************** RECYCLAGE ****************************** */

.section.intro {
  background: url('../../../images/visuel_recyclage.png') no-repeat center;
  background-size: cover;
}
.section.wall {
  background: url('../../../images/wall_to_wall.png') no-repeat center;
  background-size: cover;
}
