.foot{
  height:35vh;

}
.newsletter{
  text-align:center;
}
.newsletter p{
  text-align: center;
  margin-top: 5vh;
}
.newsletter a{
  color:black;
}

.newsletter img{
  margin-top: 2vh;
  width:5vh;
}

.foot ul{
  list-style:none;
  display:flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 5vh;
}
@media screen and (min-width: 768px) {
  .foot ul{
    width: 30%;
    margin: 0 auto;
    margin-top: 5vh;
  }
}
.link a{
  color:black;
}

.link{
  font-size: 0.8rem;
}

.foot p{
  text-align: center;
  margin-top: 5vh;
}
